---
jobs:
  build-macos:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure
        run: |
          cmake -G Xcode -B build -DCMAKE_BUILD_TYPE=${{matrix.build-type}} \
            --install-prefix ${{github.workspace}}/build/prefix
      - name: Build
        run: cmake --build build --config ${{matrix.build-type}} --verbose
      - name: Install
        run: cmake --install ${{github.workspace}}/build --config ${{matrix.build-type}} --verbose
      - name: Package
        run: >-
          cpack -C ${{matrix.build-type}}
          --config ${{github.workspace}}/build/CPackConfig.cmake --verbose
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: torbrowser-launcher-${{matrix.build-type}}
          path: |
            ${{github.workspace}}/torbrowser-launcher-*.zip
            ${{github.workspace}}/torbrowser-launcher-*.dmg
      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{github.workspace}}/torbrowser-launcher-*.zip
            ${{github.workspace}}/torbrowser-launcher-*.dmg
      - if: ${{ github.ref_type == 'tag' }}
        name: Upload package
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{github.workspace}}/torbrowser-launcher-*.zip
            ${{github.workspace}}/torbrowser-launcher-*.dmg
    strategy:
      fail-fast: false
      matrix:
        build-type: [Debug, Release]
        os: [macos-latest, macos-15-intel]
name: Build
'on':
  pull_request:
    branches: [master]
  push:
    branches: [master]
    tags:
      - 'v*.*.*'
permissions:
  attestations: write
  contents: write
  id-token: write
